<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookClassSimple</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="nav-main">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
            <img src="~/images/Shared/logo.png" height="25" class="d-inline-block align-top" alt="">
            Bookclass
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-main-collapse">
            <ul class="navbar-nav mr-auto">
                @if (User.IsInRole("admin"))
                {
                <li class="nav-item">
                    @Html.ActionLink("Manage Categories", "ManageCategories", "Admin", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Manage Location", "ManageLocation", "Admin", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Manage Images", "ManageImages", "Admin", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Manage Courses", "ManageCourses", "Admin", null, new { @class = "nav-link" })
                </li>
                }
            </ul>
            <ul class="navbar-nav">
                @if (User.Identity.IsAuthenticated)
                {
                <li class="nav-item">
                    <a class="nav-link">@User.Identity.Name</a>
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Bookings", "ListBooking", "Course", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Logout", "UserLogout", "Account", null, new { @class = "nav-link" })
                </li>
                }
                else
                {
                <li class="nav-item">
                    <a class="nav-link get-partial" href="/Account/Login" target="account-modal-content" modal="account-modal">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link get-partial" href="/Account/Register" target="account-modal-content" modal="account-modal">Register</a>
                </li>
                }
            </ul>
        </div>
    </nav>

    <div class="modal fade" id="account-modal" tabindex="-1" role="dialog" aria-labelledby="account-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body" id="account-modal-content">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="message-modal" tabindex="-1" role="dialog" aria-labelledby="message-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body" id="message-modal-content">
                </div>
            </div>
        </div>
    </div>

    <partial name="_CookieConsentPartial" />

    <script type="text/javascript">
        var PageUrl = '@Url.Content("~")';
    </script>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>



    @RenderSection("Scripts", required: false)

    @RenderBody()
</body>
</html>
